html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#app {
  height: 100%;
}

h1 {
  color: #bababa;
  font-size: 3.2em;
  line-height: 1.1;
}

button,
input {
  outline-width: 2;
  outline-color: #fff;
}

.kmsk-dotted-background {
  --dot-bg: #2f3336;
  --dot-color: #84878a;
  --dot-size: 1px;
  --dot-space: 20px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  background-position: 0 0;
}