/* ref: https://github.com/hankchizljaw/modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica", Arial, "Hiragino Kaku Gothic Pro", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;

}

body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  background-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
